{% extends "whatsonzambia/form_base.html" %}
{% load static %}
{% block content %}

<div class="row">
  <div class="col-md-12">
    <div class="featured-carousel owl-carousel">
      <div class="item">
        <div class="blog-entry text-center">
          <a href="#!"><img class="card-img-top" src="{{ object.post_image.url }}" alt="..." /></a>                  
          <p class="card-text" >
            <h6 class="card-title h6 text-primary"><strong>Date:</strong> {{ object.event_date }} | <strong>Time:</strong> {{ object.event_time }}</h6> 
            <h5 class="card-title h5 text-secondary"><strong><u>{{ object.event_day }}</u></strong></h5>
            <h6 class="card-title h6 text-primary"> <strong>Venue:</strong> {{ object.venue }}</h6>
            <h6 class="card-title h6 text-secondary"><strong>Charges:</strong> {{ object.charge }}</h6>
          </p>
        </div>
        <hr>
        {{ object.content }}        
        <div class="blog-entry text-center">
          <a class="btn btn-primary mt-2" href="{% url 'whatsonzambia-home' %}">Back →</a>                
        </div>
      </div>
      <div class="card-footer text-muted">
        {% if object.author == user %}
        Posted: {{ object.date_posted }} by <a href="#">{{ object.author }}</a>
        <div>
          <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'post-update' object.id %}">Update</a>
          <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'post-delete' object.id %}">Delete</a>
        </div>
        {% endif %}
      </div>
    </div>
  </div>
</div>

{% endblock content %}

