{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    {% if title %}
      <title>Whats on Zambia - {{ title }}</title>
    {% else %}    
      <title>Whats on Zambia</title>
    {% endif %}
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    
    <link href="{% static 'whatsonzambia/css/bootstrap.min.css' %}" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="{% static 'whatsonzambia/css/home.css' %}" rel="stylesheet">
    <style>
      .upper{ text-transform: uppercase;}
    </style>
  </head>

  <body>

    <!-- Navigation -->
    <nav class="navbar navbar-light fixed-top navbar-expand-lg" style="background-color: #eaeeea;">
      <div class="container">
        <a class="navbar-brand" href="{% url 'whatsonzambia-home' %}">Whats On Zambia</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a class="nav-link h6 text-center" href="{% url 'whatsonzambia-home' %}">Home</a></li>
            <li class="nav-item"><a class="nav-link h6 text-center" href="{% url 'whatsonzambia-about' %}">About</a></li>
            {% if user.is_authenticated %}
              <li class="nav-item"><a class="nav-link h6 text-center" href="{% url 'post-create' %}">New Post</a></li>
              <li class="nav-item"><a class="nav-link h6 text-center" href="{% url 'profile' %}">Profile</a></li>
              <li class="nav-item"><a class="nav-link h6 text-center" href="{% url 'logout' %}">Logout</a></li>
            {% else %}
              <li class="nav-item"><a class="nav-link h6 text-center" href="{% url 'login' %}">Login</a></li>
              <li class="nav-item"><a class="nav-link h6 text-center" href="{% url 'register' %}">Register</a></li>
            {% endif %}
          </ul>
        </div>
      </div>
    </nav>
    
    <div class="page-wrapper bg-gra-02 p-t-60">
    <!-- Page Content -->
    <div class="container">
      <div class="row">
        <!-- Blog Entries Column -->
        <div class="col-md-8">
          
          <div class="row row-space">
          <!-- Show filtering section-->            

          <form method="POST">
            {% csrf_token %}
            
            <div class="card mb-8">
              <div class="card-body text-center ">
                <h4 class="card-header">Search for Shows</h4>
                <h6 class="card-title h6">
                  {% if user.is_authenticated %}
                    <a href="{% url 'post-create' %}">New Post</a>
                    <a href="{% url 'profile' %}">Profile</a>
                    <a href="{% url 'logout' %}">Logout</a>
                  {% endif %}
                </h6>                
              </div>
            </div>

            <table class="table table-borderless">
              <tbody>
                <tr>
                  <th>
                    <select class="form-select" name="day" aria-label="Default select example">
                      <option disabled="disabled" selected="selected">Event day</option>
                      <option value="Friday">Friday</option>
                      <option value="Saturday">Saturday</option>
                      <option value="Sunday">Sunday</option>
                    </select>
                  </th>
                  <th>
                    <select class="form-select" name="town" aria-label="Default select example">
                      <option disabled="disabled" selected="selected">City / Town</option>
                      <option value="Lusaka">Lusaka</option>
                      <option value="Kitwe">Kitwe</option>
                      <option value="Ndola">Ndola</option>
                    </select>
                  </th>
                  <th>
                    <span class="input-group-append">
                      <button class="btn btn-secondary" type="submit">Go!</button>
                    </span>
                  </th>
                </tr>
              </tbody>
            </table>
          </form>
          </div>

          <!-- Featured Advert Starts Here -->
          <div class="card mb-4">
            {% for feature in features %}
            <h5 class="card-title h5 upper text-center">{{ feature.ft_title }}</h5>
            <img class="card-img-top" src=" {{ feature.ft_post_image.url }}" alt="Card image cap">
            <div class="card-body text-center">
              <h5 class="card-title h5 text-secondary"><u>{{ feature.ft_event_day }}</u></h5>
              <h6 class="card-title h6 text-primary text-weight-bold"><strong>Date:</strong> {{ feature.ft_event_date }} | <strong>Time:</strong> {{ feature.ft_event_time }}</h6>              
              <p>{{feature.total_ft_views}} <span class="fa fa-eye fa_custom"></span> View{{feature.total_ft_views|pluralize}}  |  
                 {{feature.total_ft_likes}} <span class="fa fa-thumbs-o-up fa_custom"></span> Like{{feature.total_ft_likes|pluralize}}</p>
              <form action="{% url 'feature-detail' pk=feature.id %}" method="get">
                <input type="hidden" name="feature-id" value="{{feature.id}}">
                <button type="submit" class="btn btn-sm btn-primary">Read more →</button>
              </form>
            </div>
            {% endfor %}           
          </div>
           <!-- Adverts Start Here --> 
          <div class="row">
            <div class="col-lg-6">
              {% block content %}{% endblock %}
            </div>
          </div>

          <!-- Pagination -->

        </div>

        <!-- Sidebar Widgets Column -->
        <div class="col-md-4">

          <!-- Categories Widget -->
          <div class="card my-4">
            <h5 class="card-header text-primary"><strong>Categories</strong></h5>
            <div class="card-body">
              <div class="row">
                <div class="col-lg-6">
                  <ul class="list-unstyled mb-0">
                    <li><a href="#">Concerts</a></li>
                    <li><a href="#">Ladies Night</a></li>
                    <li><a href="#">Gospel</a></li>
                  </ul>
                </div>
                <div class="col-lg-6">
                  <ul class="list-unstyled mb-0">
                    <li><a href="#">Family Shows</a></li>
                    <li><a href="#">Album launch</a></li>
                    <li><a href="#">Comedy Shows</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>

          <!-- Side Widget -->
          <div class="card my-4">
            <h5 class="card-header text-primary"><strong>Advertising Space</strong></h5>
            <div class="card-body">
              You can put anything you want inside of these side widgets. They are easy to use, and feature the new Bootstrap 4 card containers!
            </div>
          </div>

        </div>

      </div>
      <!-- /.row -->
    </div>
    <!-- /.container -->
    
    <!-- Footer -->
    <footer class="py-5 bg-dark">
      <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; Earthcom Ltd 2022</p>
      </div>
      <!-- /.container -->
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="{% static 'whatsonzambia/js/jquery.min.js' %}"></script>
    <script src="{% static 'whatsonzambia/js/bootstrap.bundle.min.js' %}"></script>

    </div>
  </body>
</html>
