{% extends "whatsonzambia/base.html" %}
{% block content %}
{% for post in posts %}      
    <div class="card mb-8">
      <a href="#!"><img class="card-img-top" src="{{ post.post_image.url }}" alt="..." /></a>
      <div class="card-body text-center">
        <h6 class="card-title h6">Date: {{ post.event_date }} | Time: {{ post.event_time }}</h6>
        <h5 class="card-title h5"><u>{{ post.event_day }}</u></h5>
        <h6 class="card-title h6">Venue: {{ post.venue }} | Town/City: {{ post.town }}</h6>
        <h5 class="card-title h4">Charges: {{ post.charge }}</h5>
        <a class="btn btn-primary" href="{% url 'post-detail' post.id %}">Read more →</a>
      </div>
    </div>
  </div>
<div class="col-lg-6">
{% endfor %}
<!-- Pagination -->
<hr>
<div>
  {% if posts.has_previous %}
    <a class="btn btn-primary" href="{% url 'whatsonzambia-home' %}?page={{ posts.previous_page_number }}">Previous Page</a>
  {% endif %}
  {% if posts.has_next %}
    <a class="btn btn-primary" href="{% url 'whatsonzambia-home' %}?page={{ posts.next_page_number }}">Next Page</a>
  {% endif %}
  
</div>

{% endblock content %}
