{% extends "whatsonzambia/base.html" %}
{% load static %}
{% block content %}

<div class="card mb-8">
  <h5 class="card-title h5 upper text-center">{{ object.title }}</h5>
  <a href="#!"><img class="card-img-top" src="{{ object.post_image.url }}" alt="..." /></a>
  <div class="text-center">
    <h6 class="card-title h6 text-primary"><strong>Date:</strong> {{ object.event_date }} | <strong>Time:</strong> {{ object.event_time }}</h6> 
    <h5 class="card-title h5 text-secondary"><strong><u>{{ object.event_day }}</u></strong></h5>
    <h6 class="card-title h6 text-primary"> <strong>Venue:</strong> {{ object.venue }}</h6>
    <h6 class="card-title h6 text-primary"><strong>Town/City:</strong> {{ object.town }}</h6>
    <h6 class="card-title h6 text-secondary"><strong>Charges:</strong> {{ object.charge }}</h6>
  </div>
  <hr>
  {{ object.content }} 

  <div class="container">
    <div class="row justify-content-center">
      <div class="col-6">
        <form action="{% url 'post_like' pk=post.id %}" method="post">
          {% csrf_token %}
          {% if like_status %}
            <button type="submit" name="post-id" value="{{post.id}}" class="btn btn-danger mt-2 btn-sm " >
              <span class="fa fa-thumbs-o-down fa_custom"></span> Unlike
            </button>
          {% else %}
            <button type="submit" name="post-id" value="{{post.id}}" class="btn btn-primary mt-2 btn-sm " >
              <span class="fa fa-thumbs-o-up fa_custom"></span> Like
            </button>
          {% endif %}
        </form>
      </div>
      <div class="col-6">
        <a class="btn btn-primary mt-2 btn-sm " href="{% url 'whatsonzambia-home' %}">Go Back</a>
      </div>
    </div>
  </div>
  
    <div class="card-footer text-muted">
      {% if object.author == user %}
      Posted: {{ object.date_posted }} by <a href="#">{{ object.author }}</a>
      <div>
        <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'post-update' object.id %}">Update</a>
        <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'post-delete' object.id %}">Delete</a>
      </div>
      {% endif %}
    </div>
</div>

{% endblock content %}

